body {
    background-color: rgba(136,176,25,0.3);
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Baloo Bhaina', cursive;
    background-color: white;
    color: rgb(136,176,25);
    border-radius: 20px;
    padding: 10px 30px;
    margin: 10px;
    width: auto;
}

.logo{
    
}

p {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.photo {
    position: relative;
    overflow-x: scroll;    
    width: 100%;
    
}

img{
    width: 33%;
}
